pseudeo{
c1:#142850;
c2:#142850;
c3:#00909e;
c4:#dae1e7 ;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    width:auto;
    /* background-color: rgb(64, 5, 133); */
    background-image:linear-gradient(rgba(7, 39, 179, 0.644),rgba(112, 34, 236, 0.692)), url(../img/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

html{
    font-size: 20px;
}

section{
    padding-top: 50px;
    padding-bottom: 30px;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h2:after{
    content: " ";
    width: 100px;
    height: 2px;
    background-color: #00909e;
    display: block;
    margin: 20px auto 40px auto;
}

.particles-div{
    height: 80%;
}

/* navbar */
.nav{
    padding-top: 30px;
    padding-right: 20px;
}

.nav-item a{
    font-size: 110%;
    color:white;
    transition: border-bottom 0.2s;
}

.nav-link:hover{
    font-size: 110%;
    color:white;
    border-bottom: solid 2px rgb(13, 243, 243);
}
/* nav end */

/* title */

.title{
    text-align: center;
    color:white;
}

.title h1{
    padding-top: 30%;
    font-size: 4.5rem;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    text-decoration: none;
    
}
/* title end */

.intro-head{
    text-align: center;
}


.intro-head h2{
    font-size: 250%;
}

.intro{
    justify-content: center;
}
.intro img{
    width:100%;
    /* padding-bottom: 80px; */
    margin-right: 40px;
    border-radius: 100%;
}



.intro p{
    margin-top:auto;
    color:#103072;
    font-size: 120%;
}


.what-i-do{
    background-image: linear-gradient(rgb(25, 4, 102),rgba(8, 2, 49, 0.767));
}

.do-title{
    text-align: center;
    color:white;
    font-size: 250px;
}

.skills-row{
    color:white;
    text-align: center;
}


.skill-item{
    padding: 40px 20px;
}

.skill-item h,.skill-item p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 120%;
}
.skill-image{
    display: inline-block;
    width:100%;
    height: 300px;
    border-radius: 5%;
    margin: 40px auto;
}

.skill-name{
    display: inline-block;
    border:solid 1px #dae1e7;
    color:#142850;
    background-color: white;
    border-radius: 100%;
    padding: 10px 20px;
    margin: 5px;
}

.connect-section{
    background-image:linear-gradient(rgba(4, 25, 82, 0.7),rgba(20, 17, 167, 0.7)), url(../img/group.jpg);
    background-size: cover;
    background-position: centre;
    text-align: center;
}

.connect-head{
    color: white;
    text-align: center;
}

.connect-text{
    color: white;
    font-size: 110%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.connect-links{
    color: white;
    list-style: none;
}

.connect-links a {
    color: white;
}

.connect-links i{
    color: #00909e;
    font-size: 150%;
    margin-right: 20px;
    margin-top: -10px;
}

footer{
    background-color: #103072;
    color: white;
    padding: 30px 0;
    text-align: center;
}